.players{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 30px;
}
.player img {
    width: 56px;
    height: 56px;
}
.name{
    margin-left: 15px;
    font-size: 18px;
}
.player{
    display: flex;
    align-items: center;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: lightgrey;
}
.container{
    width: 870px;
    background-color: white;
    padding: 33px;
    margin-top: 20px;
    border-radius: 10px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}


h2{
    color: blue;
    font-size: 25px;
}
hr{
    border: 1px solid green;
}
.top-players{
    margin-bottom: 30px;
}
.blogs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
}
.blog img{
    width: 150px;
    height: 90px;
}
.blog{
    display: flex;
    align-items: center;
}
.blog-topic{
    margin-left: 15px;
    font-size: 12px;
}
.blog-p{
    margin-left: 15px; 
    font-size: 10px;
    
}
.blog-p a{
    text-decoration: none;
    font-size: 15px;
}
.course-img img{
    width: 160px;
    height: 90px;
}
h5{
    color: red;
}
.all-courses{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
}
.fa-star.filled{
    color: yellow;
    font-size: 15px;
}
.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media only screen and (max-width: 688px) {
    .container{
        width: 100%;
    }
    .players, .blogs, .all-courses{
        
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .blog{
        justify-content: center;
        flex-direction: column;
    }
    .all-courses{
        margin-top: 10px;
    }
}
